manifest {
    name = 'AmpliPhy'
    author = 'Dongwook Kim'
    description = 'Improve phylogenetic inference by amplifying multiple sequence alignment with homologous sequences'
    version = '0.1.0'
}

params {
    input_dir = 'sample_input'
    output_dir = 'sample_output'
    mafft_preset = 'auto' // auto, linsi, ginsi, einsi, fast
    mafft_options = '' // additional MAFFT options
    threads = 4
}

process {
    withLabel: 'short' {
        cpus = params.threads
        memory = '4 GB'
        time = '2h'
    }
}

profiles {
    standard {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
        process.conda = 'envs/mafft.yml'
    }
}