manifest {
    name = 'AmpliPhy'
    author = 'Dongwook Kim'
    description = 'Improve phylogenetic inference by amplifying multiple sequence alignment with homologous sequences'
    version = '0.1.0'
}

params {
    input_dir = 'sample_input'
    output_dir = 'sample_output'
    threads = 4
    max_memory = '16 GB'
	minimal = false

    // MAFFT
    mafft_preset = 'auto' // auto, linsi, ginsi, einsi, fast
    mafft_options = '' // additional MAFFT options

    // MMseqs2
    database = 'UniRef50'
    custom_database = ''
    max_depth = 5
    max_seqs = 0
    mmseqs_options = ''
    tmp_dir = './tmp'
    database_dir = 'mmseqs_db'

    // IQ-TREE
    iqtree_options = '-m JTT+I+G4 -B 1000'
    no_rooting = false
    mad_script = 'bin/mad.py'
}

process {
    withLabel: 'short' {
        cpus = params.threads
        memory = '4 GB'
        time = '2h'
    }

    withLabel: 'mmseqs' {
        cpus = params.threads
        memory = params.max_memory
        time = '12h'
    }

    withLabel: 'minimal' {
        cpus   = 1
        memory = '4 GB'
        time   = '2h'
    }	
}

profiles {
    standard {
        process.executor = 'local'
    }

    conda {
        conda.enabled = true
        process.conda = 'envs/ampliphy.yml'
    }
}
